<div class="card shadow border-1 border text-center p-3">
    <h3>{{ miProducto.nombre }}</h3>
    <h4>{{ miProducto.descripcion }}</h4>
    <div>
        <img src="assets\img-productos\{{ miProducto.foto }}" alt="{{ miProducto.nombre }}" class="img-fluid">
    </div>
    <span>{{ miProducto.precio }} {{ miProducto.currency }}</span>
    <ng-container *ngIf="miProducto.stock; else agotado">
        <p class="text-primary">Disponible</p>
    </ng-container>
    <ng-template #agotado>
        <p class="text-danger">¡Agotado!</p>
    </ng-template>
    <a class="btn btn-sm btn-danger" [routerLink]="['/producto', miProducto.id]" [class.disabled]="!miProducto.stock" [attr.disabled]="!miProducto.stock ? true : null">¡Cómpralo ya!</a>
</div>
